/make_stamps
/node_modules
/tmp
bits
build
docs/*.json
docs/*.html
cscope.in.out
cscope.po.out
cscope.out
smf/manifests/papi.xml
etc/config.json
etc/packages.json
papi_packages.moray
papi-pkg-*.tar.gz
